@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(177, 225, 255);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  background: rgba(241, 214, 214, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(241, 214, 214, 0.3);
}

button {
  text-transform: capitalize;
  border: 2px solid lightcoral;
  background-color: rgb(241, 214, 214);
  color: lightcoral;
  font-size: 16pt;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}

div button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0;
}

#counter {
  display: flex;
}

#currentNumber {
  display: flex;
  align-items: center;
  margin: 0 20px;
  font-size: 16pt;
}

.colorRed {
  color: red;
}
